
#body
{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#center
{
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    background-image: url("images/PpP_index_back.png");
    
}

.block
{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 35px;
    margin-top: 35px;
    background-color:rgb(255, 192, 151, 0.85);
}

.welcome
{
    text-align: center;
}

.welcome h1
{
    font-size: 69px;
    font-weight: bolder;
    text-decoration: underline;
}

.welcome p
{
    width: 82%;
    margin: 0px;
    margin-left: 10%;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu
{
    height: 95%;
    text-align: center;
}

.menu a
{
    text-decoration: none;
}

.menu p
{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: bolder;
}

#o_mne
{
    width: 90%;
    height: 200px;
    margin: 2%;
    margin-left: 5%;
    background-color: orange;
    text-align: left;
}

#o_mne .themplate
{
    width: 200px;
    height: 200px;
    background-color: black;
}

#menu_part_picture
{
    width: 42%;
    height: 200px;
    background-image: url(".//images/Miner_themplate.png");
    background-repeat: no-repeat;
    background-size: auto;
}

#menu_part_text
{
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;
    text-align: left;
    color: black;
}

#menu_part_text p
{
    font-size: x-large;
}

#sample_text_miner_p1
{
    display: none;
}

#sample_text_miner_p2
{
    display: none;
}

#sample_text_miner_p3
{
    display: none;
}

#mine
{
    text-align: left;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    background-color: darkgrey;
    display: flex;
}

#mine:hover
{
    text-align: left;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    background-color: darkgrey;
    display: flex;
    border: solid darkorange;
}

.foot
{
    text-align: center;
}
.copyright
{
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}
