#body
{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: limegreen;
}

#play_ground
{
    position: relative;
    text-align: center;
    background-image: url("../images/mine/background_650-650.png");
    height: 100%;
    width: 120%px;
    margin-left: 25%;
    float: left;

}

#line
{
    margin: 0px;
    padding: 0px;
    float: left;
}

.block_empty
{
    background-color: skyblue;
    width: 50px;
    height: 50px;
    padding: 0px;
}

.block_field
{
    background-color: lightgreen;
    width: 50px;
    height: 50px;
    padding: 0px;
}

.block_fuky_right_empty
{
    background-image: url("../images/mine/texture_50-50_miner_right_empty.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_left_empty
{
    background-image: url("../images/mine/texture_50-50_miner_left_empty.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_left_empty_tunnel
{
    background-image: url("../images/mine/texture_50-50_tunnel_left_empty.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_right_empty_tunnel
{
    background-image: url("../images/mine/texture_50-50_tunnel_right_empty.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_right_gold
{
    background-image: url("../images/mine/texture_50-50_miner_right_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_left_gold
{
    background-image: url("../images/mine/texture_50-50_miner_left_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_right_gold_tunnel
{
    background-image: url("../images/mine/texture_50-50_tunnel_right_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_fuky_left_gold_tunnel
{
    background-image: url("../images/mine/texture_50-50_tunnel_left_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_stone
{
    background-image: url("../images/mine/texture_50-50_stone.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_tunnel
{
    background-image: url("../images/mine/texture_50-50_tunnel.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_ladder
{
    background-image: url("../images/mine/texture_50-50_ladder.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_ladder_miner_empty
{
    background-image: url("../images/mine/texture_50-50_ladder_empty.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_ladder_miner_gold
{
    background-image: url("../images/mine/texture_50-50_ladder_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
    opacity: 1;
}

.block_grass
{
    background-image: url("../images/mine/texture_50-50_grass.png");
    width: 50px;
    height: 50px;
    padding: 0px;
}

.block_deposite_gold
{
    background-image: url("../images/mine/texture_50-50_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
}

.block_stack_gold
{
    background-image: url("../images/mine/texture_50-50_stack_gold.png");
    width: 50px;
    height: 50px;
    padding: 0px;
}
